/* Created by: Graeme Barbe
* Created on: May 19 2022
* This CSS file defines the style for index.html
*/

/* This centers the text in the MDL header */
.mdl-layout__header-row {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
}

/* body background */
body {
	background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

/* Color changes */
h1 {
	color: rgb(255, 255, 255);
}

h5{
	color: rgb(255, 255, 255);
}

h4{
	color: rgb(255, 255, 255);
}

.numbers{
	color: rgb(255, 255, 255);
}

.mdl-textfield__input{
	color: rgb(255, 255, 255);
}

.mdl-textfield__label{
	color: rgb(255, 255, 255);
}